@(emailForm: Form[biz.info_cloud.filesharer.providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-sm-2", "col-sm-10") }

@main("Filesharer - Forgot password") {
<div class="container">
  <div class="row">
    <h1>Forgot password</h1>
  </div>
  
    @b3.form(routes.Signup.doForgotPassword) {
        @if(emailForm.hasGlobalErrors) {
          <p class="alert alert-danger">
            @emailForm.globalError.message
          </p>
        }
        @b3.email( emailForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com" )
        @b3.submit('class -> "btn btn-default"){ Change my password }
    }
</div>
}