@(logs: List[models.AccessLog])

@import helper._

@main("access files", "accesslog") {

<div class="container">
  @if(logs.size() < 1) {
    num of your access : @logs.size()
  } else {
    <table class="table table-bordered table-striped">
      <tr>
        <th>
          <div class="col-xs-12 col-sm-12 col-md-6">Filename</div>
          <div class="col-xs-12 col-sm-6 col-md-3">Access Time</div>
          <div class="col-xs-12 col-sm-6 col-md-3">Owner</div>
        </th>
      </tr>
    @for(log <- logs) {
      <tr>
        <td>
          <div class="col-xs-12 col-sm-11 col-md-6"><a href="@controllers.routes.Application.show(log.entity.filePath)">@Html(log.entity.originalFilename)</a></div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <script>document.write(toLocalDateTime(@log.lastAccess.getTime(), 'lll'));</script>
          </div>
          @if(log.entity.owner != null){
            <div class="col-xs-12 col-sm-6 col-md-3">@Html(log.entity.owner.name)</div>
          } else {
            <div class="col-xs-12 col-sm-6 col-md-3">Guest</div>
          }
        </td>
      </tr>
    }
    </table>
  }
</div>
}