@import com.feth.play.module.pa.views.html._
@main("File sharer - login") {
<div class="container">
  <div class="row">
    <div class="center-block" style="width:300px">
    @currentAuth() { auth =>
      @if(auth != null) {
        you already logged in.
      } else {
        @forProviders() { p =>
          @if(controllers.Application.providerMap.containsKey(p.getKey())) {
              <a href="@p.getUrl()"><img src="@routes.Assets.at(controllers.Application.providerMap.get(p.getKey()))" alt="@p.getKey()" class="img-responsive" /></a></li>
          } else {
              <a href="@p.getUrl()"><button type="button" class="btn btn-primary btn-lg">@p.getKey()</button></a>
          }
        }
      }
    }
    </div>
  </div>
</div>
}