@(signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-sm-2", "col-sm-10") }

@main("signup") {
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Sign up</h1>
    </div>
  </div>

  <div id="signup" class="row">
    @b3.form(routes.Application.doSignup) {
      @if(signupForm.hasGlobalErrors) {
        <p class="alert alert-danger">
          @signupForm.globalError.message
        </p>
      }
      @b3.text( signupForm("name"), '_label -> "Name", 'placeholder -> "Your name here" )
      @b3.email( signupForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com" )
      @b3.password( signupForm("password"), '_label -> "Password", 'placeholder -> "Password" )
      @b3.password( signupForm("repeatPassword"), '_label -> "Repeat password", '_showConstraints -> false, '_error -> signupForm.error("password"), 'placeholder -> "Repeat chosen password" )
      @b3.submit('class -> "btn btn-default"){ Sign up }
    }
  </div>
</div>
}
