@import com.feth.play.module.pa.providers.AuthProvider.Registry
@import com.feth.play.module.pa.views.html._
@import be.objectify.deadbolt.java.views.html._

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topmenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">File sharer</a>
    </div>
 
    <div class="collapse navbar-collapse" id="topmenu">
      <ul class="nav navbar-nav navbar-left">
        @menuitem(controllers.routes.Application.index.url, "Main")
        @subjectPresent() {
          @menuitem(controllers.routes.Application.uploadList.url, "Uploaded List")
          @menuitem(controllers.routes.Application.accessLog.url, "Access Log")
        }
      </ul>
      
      @defining(Registry.getProviders()) { providers =>
        @if(providers != null && providers.size() > 0) {
          <ul class="nav navbar-nav navbar-right">
            @subjectPresentOr() {
              @menuitem(controllers.routes.Application.profile.url, "Profile")
              @menuitem(com.feth.play.module.pa.controllers.routes.Authenticate.logout.url, "Logout")
            }{
              @menuitem(controllers.routes.Application.login.url, "Login")
            }
          </ul>
        }
      }
    </div>
  </div>
</nav>
