@import com.feth.play.module.pa.views.html._

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topmenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">File sharer</a>
    </div>
 
    <div class="collapse navbar-collapse" id="topmenu">
      <ul class="nav navbar-nav navbar-left">
        @menuitem(controllers.routes.Application.index.url, "Upload")
        @menuitem(controllers.routes.Application.uploadList.url, "List")
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        @currentAuth() { auth =>
          @if(auth != null) {
            <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout">Logout</a></li>
          } else {
            @forProviders() { p =>
              <li><a href="@p.getUrl()">@p.getKey()</a></li>
            }
          }
        }
      </ul>
    </div>
  </div>
</nav>
