@(files: List[models.ShareFileEntity])

@main("File sharer - upload files") {
<div class="container">
  @if(files.size() < 1) {
    num of your uploaded : @files.size()
  } else {
    <table class="table table-bordered table-striped">
      <tr>
        <th>
          <div class="col-xs-12 col-sm-12 col-md-6">Filename</div>
          <div class="col-xs-12 col-sm-6 col-md-3">Time</div>
          <div class="col-xs-11 col-sm-5 col-md-2">Owner</div>
          <div class="col-xs-1 col-sm-1 col-md-1">&nbsp;</div>
        </th>
      </tr>
    @for(file <- files) {
      <tr>
        <td>
          <div class="col-xs-12 col-sm-12 col-md-6"><a href="@controllers.routes.Application.show(file.filePath)" target="_blank">@Html(file.originalFilename)</a></div>
          <div class="col-xs-12 col-sm-6 col-md-3">@java.time.format.DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss").format(file.createDate.toLocalDateTime())</div>
          <div class="col-xs-11 col-sm-5 col-md-2">@Html(file.owner.name)</div>
          <div class="col-xs-1 col-sm-1 col-md-1">@*<span class="glyphicon glyphicon-trash" />*@</div>
        </td>
      </tr>
    }
    </table>
  }
</div>
}